<div class="item-field">
  <br>
  <%# <% index = f.index %>
  <%# <%= index_errors %>

  <% index = @rfq.items.length %>
  <%= index %>

  <% invalid = @rfq.errors.include?(:item) %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name, class: "form-control" %>
  <% if invalid %>
      <div class="invalid-feedback d-block">
          <% f.errors.full_messages_for(:item.name).each do |error_message| %>
              <%= error_message %>
          <% end %>
      </div>
  <% end %>
  
  <br>
  <%= f.label :length, "Length (m)"%>
  <%= f.number_field :length, step: 0.01, class: "form-control"%>
  <br>
  <%= f.label :width, "Width (m)", style: "display: block" %>
  <%= f.number_field :width, step: 0.01, class: "form-control"%>
  <br>
  <%= f.label :height, "Height (m)", style: "display: block" %>
  <%= f.number_field :height, step: 0.01, class: "form-control"%>
  <br>
  <%= f.label :weight, "Weight (kg)", style: "display: block" %>
  <%= f.number_field :weight, step: 0.01, class: "form-control"%>
  <br>
  <%= f.label :description, "Description", style: "display: block" %>
  <%= f.text_area :description, class: "form-control" %>
  <br>
  <%= f.label :special_conditions, "Notes/Special Conditions", style: "display: block" %>
  <%= f.text_area :special_conditions, class: "form-control" %>
  <br>
    <%= link_to_remove_association "Remove Item", f %>
  <br>
</div>

<!-- Make nicer for the fields to be added-->