<h1>View Quotes</h1>

<div class="row">
    <div class="column side"></div>
    <div class="column middle">
        <h3>Quotes</h3>
        <div class="cards">
            <% @quotes.each do |quote| %>
                <div class="card">
                    <%= User.find(quote.user_id).name %> <br>
                    <% if quote.quote_submitted == nil || quote.quote_submitted == false %>
                        No Quote Submitted <br>
                    <% else %> 
                        Cost: <%= quote.cost %> <br>
                        <% if quote.special_conditions != "" %>
                            Special Conditions: <%= quote.special_conditions %>
                        <% end %>
                    <% end %>

                    <div class="center-screen">
                        <% if @rfq.state != true %>
                            <%= link_to "Select Quote", edit_rfq_quote_path(@rfq, quote) %>
                        <% else %>
                            <% if quote.state != true %>
                                Quote not selected
                            <% else %>
                                Quote selected
                            <% end %>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>

        <br>
        
        <h2>Request For Quote Information</h2>

        <div class="cards2column">
            <div class="card">
                <h3>Pickup Information</h3>
                Name: <%= @rfq.pickup_name %> <br>
                Street Address: <%= @rfq.pickup_street_address %> <br>
                City Area: <%= @rfq.pickup_city_area %> <br>
                City: <%= @rfq.pickup_city %> <br>
                County: <%= @rfq.pickup_county %> <br>
                State/Province: <%= @rfq.pickup_state %> <br>
                Country: <%= @rfq.pickup_country %> <br>
                ZIP/Postal: <%= @rfq.pickup_postal %> <br>
                Date: <%= @rfq.pickup_date %> 
            </div>

            <div class="card">
                <h3>Dropoff Information</h3>
                Name: <%= @rfq.shipto_name %> <br>
                Street Address: <%= @rfq.shipto_street_address %> <br>
                City Area: <%= @rfq.shipto_city_area %> <br>
                City: <%= @rfq.shipto_city %> <br>
                County: <%= @rfq.shipto_county %> <br>
                State/Province: <%= @rfq.shipto_state %> <br>
                Country: <%= @rfq.shipto_country %> <br>
                ZIP/Postal<%= @rfq.shipto_postal %> <br>
                Date: <%= @rfq.delivery_date %> <br>
            </div>
        </div>

        <br>
        <br>

        <h3>Items</h3>
        <div class="cards">
            <% @rfq.items.each do |item| %>
                <div class="card">
                    <fieldset>
                        Name: <%= item.name %> <br>
                        Description: <%= item.description %> <br>
                        Length (m): <%= item.length %> <br>
                        Width (m): <%= item.width %> <br>
                        Height (m): <%= item.height %> <br>
                        Widght (kg): <%= item.weight %> <br>
                    </fieldset>
                </div>
            <% end %>
        </div>
    </div>
</div>

<%# Create popup for verifying selected quote and set RFQ state to true to close any other things
https://duckduckgo.com/?q=ruby+on+rails+popups&t=ffab&atb=v250-1&ia=web
https://www.youtube.com/watch?v=1c_tHifJVRI
https://medium.com/@hienviluong125/ruby-on-rails-creating-pop-ups-with-stimulus-without-external-javascript-libraries-7ec01cd6ddd7 %>